crmai/LeadsEngine.json
{
  "name": "LeadsEngine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c721592c-90fd-4829-a745-5b6d61d0fc17",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -176
      ],
      "id": "b05a9e32-9044-4f00-a387-ef95e6bb57eb",
      "name": "Webhook",
      "webhookId": "c721592c-90fd-4829-a745-5b6d61d0fc17"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data normalization engine for a CRM system.\n\nYour task:\n- Read the incoming raw webhook JSON\n- Extract all essential business information\n- Normalize it into the EXACT JSON structure shown below\n- The output MUST be valid JSON only (no markdown, no explanation, no text)\n- If a value is not available, use null\n- Do NOT invent values\n- The structure and field names MUST remain exactly the same\n- This schema is SOURCE-AGNOSTIC (Cal, Wix, Tally, Stripe, etc.)\n\nIMPORTANT:\n- Always return ALL top-level keys\n- Always include raw_payload as the full original JSON\n- Dates must be ISO-8601 strings if present\n- Arrays must be arrays (even if empty)\n- Objects must be objects (even if empty)\n\n--------------------\nTARGET JSON SCHEMA\n--------------------\n\n{\n  \"lead\": {\n    \"student_uid\": null,\n    \"primary_email\": null,\n    \"primary_phone\": null,\n    \"is_primary_lead\": true,\n    \"primary_lead_id\": null,\n    \"lead_role\": null,\n    \"lead_status\": null,\n    \"lead_source_platform\": null,\n    \"lead_source_event\": null,\n    \"mailing_list_date\": null,\n    \"call_booked_date\": null,\n    \"application_submitted_date\": null,\n    \"sales_remark\": null\n  },\n\n  \"student_profile\": {\n    \"first_name\": null,\n    \"last_name\": null,\n    \"email\": null,\n    \"phone\": null,\n    \"grade\": null,\n    \"school\": null,\n    \"city\": null,\n    \"state_province\": null,\n    \"intended_major\": null,\n    \"targeted_college\": null,\n    \"linkedin_url\": null,\n    \"expectation\": null,\n    \"persona_fit\": null\n  },\n\n  \"parent_profile\": {\n    \"first_name\": null,\n    \"last_name\": null,\n    \"email\": null,\n    \"phone\": null,\n    \"profession\": null,\n    \"expectation\": null,\n    \"feedback_for_program\": null,\n    \"summary\": null,\n    \"parent_in_interview\": null\n  },\n\n  \"enrollment\": {\n    \"batch\": null,\n    \"student_track\": null,\n    \"interested_in_other_bml_program\": null,\n    \"payment_details\": {}\n  },\n\n  \"ingestion_event\": {\n    \"source\": null,\n    \"event_type\": null,\n    \"received_at\": null\n  },\n\n  \"raw_payload\": {}\n}\n\n--------------------\nRAW INPUT JSON\n--------------------\n\n{{ $json.body.toJsonString() }}\n\n--------------------\nRULES\n--------------------\n- Map fields intelligently based on meaning, not field names\n- Email, phone, name can appear anywhere in the payload\n- booking → call_booked_date\n- form submission → mailing_list_date\n- payment / application → application_submitted_date\n- If multiple persons exist, prioritize STUDENT → then PARENT\n- If unsure, leave the field null\n- raw_payload MUST be the complete original JSON\n- Output ONLY the final JSON\nv",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -208,
        -160
      ],
      "id": "9578abc6-b6d5-4c85-9c9f-bd4adc804488",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -80,
        96
      ],
      "id": "04e8d084-02ca-48df-873b-80828c25828a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HnTUooBoTocLudbJ",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "ingestion_events",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{$('Normalizer').item.json.ingestion_event.source}}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "={{$('Normalizer').item.json.ingestion_event.event_type}}"
            },
            {
              "fieldId": "received_at",
              "fieldValue": "={{ $('Normalizer').item.json.ingestion_event.received_at || $now}}"
            },
            {
              "fieldId": "raw_payload",
              "fieldValue": "={{$json.raw_payload}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        -160
      ],
      "id": "f6a828ff-62e6-4f48-ba2f-40d4ea49daab",
      "name": "Create Ingestion Event",
      "credentials": {
        "supabaseApi": {
          "id": "e4WkZrSFRp26TIoU",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "lead_submissions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "primary_email",
              "fieldValue": "={{$json.lead.primary_email}}"
            },
            {
              "fieldId": "primary_phone",
              "fieldValue": "={{$json.lead.primary_phone}}"
            },
            {
              "fieldId": "student_name",
              "fieldValue": "={{$json.student_profile.first_name}}"
            },
            {
              "fieldId": "parent_name",
              "fieldValue": "={{$json.parent_profile.first_name}}"
            },
            {
              "fieldId": "source_platform",
              "fieldValue": "={{$json.lead.lead_source_platform || \"NA\"}}"
            },
            {
              "fieldId": "source_event",
              "fieldValue": "={{$json.lead.lead_source_event}}"
            },
            {
              "fieldId": "submitted_at",
              "fieldValue": "={{$json.lead.mailing_list_date || $now}}"
            },
            {
              "fieldId": "raw_payload",
              "fieldValue": "={{$json.raw_payload}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        -160
      ],
      "id": "9477e5bb-8e4d-4f7c-9ad8-2ca66f0f5c52",
      "name": "Create Lead Submission",
      "credentials": {
        "supabaseApi": {
          "id": "e4WkZrSFRp26TIoU",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ingestion_events",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{$node[\"Create Ingestion Event\"].json.id}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lead_submission_id",
              "fieldValue": "={{$node[\"Create Lead Submission\"].json.id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        -160
      ],
      "id": "bee86bc2-2b85-4b75-aa6c-0b6c551f84ce",
      "name": "Update Lead Submission",
      "credentials": {
        "supabaseApi": {
          "id": "e4WkZrSFRp26TIoU",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "lead_submissions"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        -160
      ],
      "id": "395ce143-dc2b-4903-96b2-045ba5745237",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "e4WkZrSFRp26TIoU",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalized = JSON.parse($json.output);\nreturn [{ json: normalized }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -160
      ],
      "id": "08988655-8324-45c1-b6f7-aa0e4b8f8a8d",
      "name": "Normalizer"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ingestion Event": {
      "main": [
        [
          {
            "node": "Update Lead Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead Submission": {
      "main": [
        [
          {
            "node": "Create Ingestion Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Submission": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizer": {
      "main": [
        [
          {
            "node": "Create Lead Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "be3b96e8-6456-48f3-bc01-be3daf018804",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27914e949b2b68cd83007e97e60d64be6f952040260ad23ce5cd5be3e0589c09"
  },
  "id": "JVLmqwgLfBtNttRr7sJi0",
  "tags": []
}